@import '../../variables.scss';

.mainSection {
  height: 890px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_Card {
    height: 830px;
    width: 1200px;
    background-color: $color-grey-light;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
  }
}
