@import '../../variables.scss';

.bottomCard {
  width: 560px;
  height: 200px;
  background-color: $color-white;
  border-radius: 15px;
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-between;
  overflow: hidden;
  position: absolute;
  align-items: center;

  &_title {
    height: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: $color-grey-dark;
  }

  &_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // position: absolute;
  }

  &_day {
    min-width: 167px;
    max-width: 167px;
    height: 110px;

    & h1 {
      font-size: 2rem;
      font-weight: 400;
      // text-decoration: underline;
      margin-bottom: 15px;
      text-align: center;
    }
  }

  &_temperature {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    & img {
      height: 70px;
      width: 70px;
    }

    & span {
      font-size: 2.5rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }
}

.carouselContainer {
  width: 502px;

  &_buttonGroup {
    position: absolute;
  }

  &_buttonLeft {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: -255px;
    height: 110px;
    width: 20px;
    border-radius: 9px;
    // display: flex;
    // align-items: center;

    &:hover {
      // height: 110px;
      background-color: $color-secondary;
    }

    &_disabled {
      opacity: 0;
      width: 20px;
    }

    & img {
      width: 20px;
      height: 20px;
    }
  }

  &_buttonRight {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: 254px;
    height: 110px;
    border-radius: 9px;

    &:hover {
      // height: 110px;
      background-color: $color-secondary;
    }

    &_disabled {
      opacity: 0;
      width: 20px;
    }

    & img {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (min-width: $bp-large) and (max-width: $bp-xlarge) {
  .bottomCard {
    width: 435px;
    height: 150px;
    padding: 15px;

    &_title {
      height: 20px;
      font-size: 1.8rem;
      margin-bottom: 20px;
    }

    &_day {
      min-width: 128px;
      max-width: 128px;
      height: 80px;

      & h1 {
        font-size: 1.6rem;
        margin-bottom: 5px;
        text-align: center;
      }
    }

    &_temperature {
      & img {
        height: 50px;
        width: 50px;
      }

      & span {
        font-size: 2.2rem;
        margin-left: 8px;
      }
    }
  }

  .carouselContainer {
    width: 384px;

    &_buttonLeft {
      left: -190px;
      height: 80px;
      width: 20px;
      border-radius: 9px;

      &_disabled {
        width: 20px;
      }

      & img {
        width: 20px;
        height: 20px;
      }
    }

    &_buttonRight {
      left: 190px;
      height: 80px;
      border-radius: 9px;

      &_disabled {
        opacity: 0;
        width: 20px;
      }

      & img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
