@import '../../variables.scss';

.infoCard {
  height: 830px;
  width: 600px;
  padding: 20px;
}

@media screen and (min-width: $bp-large) and (max-width: $bp-xlarge) {
  .infoCard {
    height: 644px;
    width: 465px;
    padding: 15px;
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .infoCard {
    width: 275px;
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .infoCard {
    width: 200px;
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .infoCard {
    width: 150px;
  }
}
