@import '../../variables.scss';

.header {
  height: 200px;
  width: 100%;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
  }

  &_searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
      margin: 12px 0 2px;
      color: $color-tertiary;
      font-size: 1.4rem;
      min-height: 17px;
      font-family: 'Lato', sans-serif;
    }
  }

  &_searchFormInput {
    width: 350px;
    height: 34px;
    border-radius: 15px;
    border: 1px solid $color-primary;
    margin: 0 0 12px;
    text-align: center;
    font-size: 1.4rem;
    transition: transform, box-shadow 0.3s;

    &:focus-within {
      transform: translateY(-2px);
      box-shadow: 0 0.7rem 3rem rgba($color-grey-dark, 0.08);
      border-width: 2px;
    }

    &:focus-visible {
      outline-color: $color-primary;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: 'Lato', sans-serif;
    }
  }

  &_searchFormBtn {
    width: 350px;
    height: 34px;
    border-radius: 15px;
    background-color: $color-primary;
    text-align: center;
    font-size: 2rem;
    color: $color-white;
    font-family: 'Chau Philomene One', sans-serif;
    align-items: center;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    &:hover {
      transform: scale(1.03);
    }
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .header {
    height: 180px;
    &_title {
      font-size: 2rem;
      text-align: center;
      width: 550px;
    }

    & span {
      margin: 7px 0 2px;
    }
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .header {
    height: 180px;
    &_title {
      font-size: 1.8rem;
      text-align: center;
      width: 260px;
    }

    &_searchFormInput {
      width: 300px;
      height: 30px;
    }

    &_searchFormBtn {
      width: 300px;
      height: 30px;
    }
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .header {
    height: 140px;
    &_title {
      font-size: 1.6rem;
      text-align: center;
      width: 230px;
    }

    &_searchForm {
      & span {
        margin: 4px 0 2px;
        font-size: 1.2rem;
      }
    }

    &_searchFormInput {
      width: 300px;
      height: 25px;
      font-size: 1.2rem;
      margin: 0 0 8px;
    }

    &_searchFormBtn {
      width: 300px;
      height: 25px;
      font-size: 1.4rem;
    }
  }
}
