@import '../../variables.scss';

.topCard {
  width: 560px;
  height: 240px;
  background-color: $color-white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;

  &_title {
    width: 100%;

    &_big {
      font-size: 4.8rem;
      line-height: 40px;
      font-weight: 400;
    }

    &_small {
      font-size: 3.5rem;
    }

    &_extrasmall {
      font-size: 2.5rem;
    }

    & h2 {
      font-size: 1.4rem;
      margin-top: 10px;
      font-weight: 400;
    }
  }

  &_mainInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & h2 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1rem;
      margin-top: 12px;
    }
  }

  &_temperature {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

    & img {
      width: 100px;
      height: 100px;
    }

    & h1 {
      font-size: 4.8rem;
      font-weight: 400;
      // align-self: end;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: $bp-large) and (max-width: $bp-xlarge) {
  .topCard {
    width: 435px;
    height: 185px;
    padding: 15px;
    margin-bottom: 15px;

    &_title {
      &_big {
        font-size: 3.5rem;
        line-height: 32px;
        font-weight: 400;
      }

      &_small {
        font-size: 2.5rem;
      }

      &_extrasmall {
        font-size: 2.3rem;
      }

      & h2 {
        font-size: 1.2rem;
        margin-top: 5px;
        font-weight: 400;
      }
    }

    &_mainInfo {
      & h2 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1rem;
        margin-top: 8px;
      }
    }

    &_temperature {
      & img {
        width: 75px;
        height: 75px;
      }
    }
  }
}
