@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Chau Philomene One', sans-serif;
  color: $color-black;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-dark;
}
