$color-primary: #3f40cc;
$color-secondary: #ccdadb;
$color-tertiary: #c36478;

$color-grey-light: #e5e5e5;
$color-grey-dark: #525252;
$color-black: #000000;

$color-pink: #f5e9e6;
$color-white: #ffffff;

$bp-xlarge: 1350px;
$bp-large: 980px;
$bp-medium: 600px;
$bp-small: 420px;
$bp-xsmall: 320px;
