$color-primary: #3f40cc;
$color-secondary: #ccdadb;
$color-tertiary: #c36478;

$color-grey-light: #e5e5e5;
$color-grey-dark: #525252;
$color-black: #000000;

$color-pink: #fae1da;
$color-white: #ffffff;
